streamlit
spacy==3.7.2
nltk
scikit-learn
PyPDF2
pandas
sentence-transformers
google-generativeai
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
